.possibility {
}

.dice {
	float: left;
	margin: 4px;
	width: 50px;
	height: 50px;
	background-image: url('../images/dices.png');
}

.dice.face6 {
	background-position: 0 0;
}

.dice.face5 {
	background-position: -50px 0;
}

.dice.face4 {
	background-position: -100px 0;
}

.dice.face3 {
	background-position: -149px 0;
}

.dice.face2 {
	background-position: -199px 0;
}

.dice.face1 {
	background-position: -249px 0;
}

.dice.empty {
	visibility: hidden;
}

.dice.selected {
	background-image: url('../images/red_dices.png');
}

.keep {
	visibility: hidden;
}

.trash {
	visibility: hidden;
}

.score {
	font-family: "Zeyada", verdana, arial, helvetica, cursive;
	color: blue;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}
.score.trashed {
	color: red;
}

.progress {
	margin-bottom: 0;
}
